@import "./variables";
body {
    background-color: $alice-blue;
}
main {
    height: fit-content;
}
#thumbNail {
    margin: 0 auto;
}
footer {
    height: fit-content;
}
.navbar-brand img {
    height: 60px;
}
article {
    margin-top: 50px;
}
@media only screen and (min-width: 990px) {
    article {
        padding: 0 20%;
    }
}
