// ! Old Colors
/* SCSS HSL */
$alice-blue: hsla(186, 28%, 93%, 1);
$granny-smith-apple: hsla(119, 66%, 82%, 1);
$russian-green: hsla(127, 16%, 55%, 1);
$kombu-green: hsla(148, 20%, 24%, 1);
$rich-black-fogra-29: hsla(195, 100%, 7%, 1);


// Updated colors

// Primary
$royal: hsl(275, 55%, 33%);
$lavendel: hsl(261, 43%, 85%);

// Secondary
$bieber: hsl(275, 56%, 43%);
$solsikke: hsl(37, 100%, 62%);
$nemo: hsl(17, 100%, 62%);
$sommereng: hsl(95, 55%, 33%);
